.jumbotron {
  /* background-image: url(image/bokeh.jpg); */
  opacity: 0.8;
  background-size: cover;
  height: 770px;
  text-align: right;
  margin-top: -120px;
  margin-bottom: 10px;
}


.jumbotron .display-4 {
  color: white;
  margin-top: 200px;
  margin-bottom: 40px;
}

.jumbotron p {
  color: white;
  float: right;

}

.card {
  float: left;
  margin-top: 200px;
  margin-left: 90px;
  border-radius: 170%;
}

.container call-to-action {
  float: left;
}

.btn {
  color: white;
  background-color: #1762A7;
  padding: .75rem 1.5rem;
  border-radius: .5rem;
  text-decoration: none;
  font-size: .9rem;
  outline: none;
  border: none;
  cursor: pointer;
  margin-left: 1rem;
}

.btn:hover {
  background-color: #2180d8;
}

.btn:focus {
  background-color: #2796ff;
}





.content {
  /* background-image: url('image/bokeh.jpg'); */
  background-size: cover;
  padding-top: -200px;
  margin-top: -200opx;
  opacity: 0.8;
}

.kontener {
  width: 700px;
  margin: auto;
  border: 10px solid burlywood;
  overflow: auto;
  margin-top: 70px;
}

.thumbnail {
  width: 700px;
}

.thumb {
  width: 233px;
  float: left;
  border: 2px solid white;
  box-sizing: border-box;
}

.thumb:hover {
  opacity: 0.5;
  cursor: pointer;
}